[2015-08-08 19:03] timelyportfolio opened #1 "add htmlwidget version"
I discovered your project as I planned this week's `htmlwidget` of the week to wrap the `mapshaper` web ui.  It appears you are trying to provide an interface to the command-line, but I thought the combination of both your planned interface and an `htmlwidget` would provide a really powerful tool.  I'll start as a standalone `htmlwidget` with the idea that it might get absorbed here.  Thanks so mu

[2015-08-18 22:02] ateucher commented on #1
Sorry for the delay here - I've been on holidays :)

This is fantastic! The ability to use the gui right inside R is so helpful. It would be great to get the result returned as an R object, which looks like it is on your todo list.

You're right, I am trying to wrap the command line tool - right now the `simplify` function is working relatively well with `system` calls to the node module, but ther

[2015-09-11 23:22] ateucher opened #2 "Use V8"
I'd like to include the mapshaper javascript library and use [V8](https://cran.r-project.org/web/packages/V8/index.html), so that users don't have to have `node.js` and the `mapshaper` module installed. Also, using `system()` calls to use mapshaper commands in node is very inefficient due to all of the disk i/o required.

I've started trying in `test_v8.R` in the [test-v8](https://github.com/ateuc

[2015-09-12 01:08] sckott commented on #2
you're referring to the `test_v8.R`, right?

[2015-09-12 01:10] ateucher commented on #2
Tep

[2015-09-12 01:10] ateucher commented on #2
Yep (autocorrect only works when you don't want it to)

[2015-09-12 01:12] ateucher commented on #2
In `inst/ ` - sorry, forgot to specify that

[2015-09-12 01:12] sckott commented on #2
`mapshaper.js` is from https://github.com/mbloch/mapshaper/blob/master/mapshaper.js or did you browserify to get that?

[2015-09-12 01:17] ateucher commented on #2
It is that one, yes, though I have tried with browserify and got the same result. I think because browsers have `setTimeout` built in as well, they aren't included when you browserify

[2015-09-12 01:26] sckott commented on #2
have you tried in node REPL yet?  curious what that looks like

[2015-09-12 01:41] ateucher commented on #2
No, I haven't actually. Good call - I'll give it a try

[2015-09-12 04:17] ateucher commented on #2
In the node REPL:
(first need to install mapshaper with `npm install mapshaper`)

[code]
It returns a simplified GeoJSON object (5 vertices vs original 9), so it is working there...

[2015-09-12 10:48] timelyportfolio commented on #2
I'm having a look now.  Working with the reduced `V8` set can be very tricky.

[2015-09-12 14:27] timelyportfolio commented on #2
The issue is `setTimeout` does not exist in `V8`, so this [line](https://github.com/mbloch/mapshaper/blob/master/src/cli/mapshaper-commands.js#L160) fails.  I don't think there is a clean workaround for the lack of `setTimeout`, so instead of `applyCommands`, the best solution will probably be to do the unrecommended [method 4](https://github.com/mbloch/mapshaper/wiki/Using-mapshaper-programmatica

[2015-09-12 15:24] ateucher commented on #2
Thanks - I was thinking that might be the route. Might be painful, but I'll start exploring :)

[2015-09-12 15:27] timelyportfolio commented on #2
Hope to have some code shortly as basic example.

[2015-09-12 15:54] sckott commented on #2
glad @timelyportfolio is here, i didn't have any ideas :smile:

[2015-09-12 16:48] ateucher commented on #2
Ditto! Thanks @timelyportfolio - If you don't have time to work up an example, I'm pretty sure I can fumble my way through (though of course if you do, that would be fantastic)

[2015-09-12 19:00] timelyportfolio commented on #2
Took me a little longer since I've been lazy and using the UI.  I'm not familiar with the command-line options.  Here is what I have for now.  I'll post it up in its ugly state since I have to turn off the computer for the day.

It is all in the fork https://github.com/timelyportfolio/rmapshaper/tree/V8 with code [here](https://github.com/timelyportfolio/rmapshaper/blob/V8/inst/examples/experiment

[2015-09-12 20:39] ateucher commented on #2
This is great! Thank you so much - I'm going to try to see if I can play with it tonight

[2015-09-13 02:31] timelyportfolio commented on #2
changed the above ref code to an anonymous function to return the data. I'll try to work through some of the other commands to get a better sense of reusability and patterns.

[2015-09-13 04:20] ateucher commented on #2
This is working nicely, thank you so very much! I don't think you need to browserify, I'm using this one here: https://github.com/mbloch/mapshaper/blob/master/mapshaper.js and it works just the same - is there a reason to browserify?

As `mapshaper.runCommand` returns a dataset with arcs etc (presuming this is an internal format?), I poached a few lines from `Mapshaper.processFileContent` to grab

[2015-09-13 04:38] ateucher commented on #2
Ok, the basis of a reusable base function here I think:

[code]

[2015-09-13 11:09] timelyportfolio commented on #2
So glad this was helpful, and very good call on `exportFileContent`.  I ran out of time before I got the chance to explore the export.  Here are my couple of comments on the reusable function.

1.  `run_mapshaper_commands` should probably be `run_mapshaper_command` since this is targeted toward a single command.  In the near future, I would like to see another `R` function to chain/pipe/reduce mul

[2015-09-13 11:12] timelyportfolio commented on #2
@ateucher as a side note, did you know mapshaper goes back to 2006 http://www.cartogis.org/docs/proceedings/2006/bloch_harrower.pdf?

[2015-09-13 14:31] ateucher commented on #2
Wow, that's impressive that it's been around since 2006.  My main motivation for doing this is that there is no method in any R geo package that I know of that provides topologically-aware polygon simplification (which is what the Visvalingam method provides). I'm surprised that no one has done it before.

Thanks for these insights.

1. Good call on the function name. Yes, I've been thinking about

[2015-09-14 01:28] timelyportfolio commented on #2
We lose async, and I could easily be missing something, but changing reduceAsync as in these [lines](https://github.com/timelyportfolio/rmapshaper/blob/test-v8/inst/js/mapshaper/mapshaper.js#L15349-L15369) seems to give us the ability to use `mapshaper.applyCommands` again.  @ateucher could you test a little with a series of commands to see if it works with more than just the `simplify` test.

[2015-09-14 03:33] ateucher commented on #2
Wow, that's it eh? Makes sense now that I look at it ;)  Nicely done - I'll try to give it a bash tomorrow.

[2015-09-14 19:31] ateucher commented on #2
Ok, I've done a bit more testing with more complex data and commands using your clever fix to `reduceAsync`:

[code]
This all works really nicely! The only things I haven't been able to manage is commands that use two (or more) layers, such as `-clip` and `-erase` - the documentation only describes them by specifying a file name in the command string (`mapshaper.applyCommands` only accepts a singl

[2015-09-14 20:50] timelyportfolio commented on #2
this is coming together very nicely!  I looked through the code and docs and don't see any way to pass `clip_poly` with `applyCommands`.  Hopefully, we'll get an answer, or might just need to do the direct route.

[2015-09-14 21:03] ateucher commented on #2
Alright, sounds good. Incidentally, I was trying to clip with a bounding box and was getting an error `require is not defined` - evidently the mapshaper.js file I was pulling from the repo was not entirely sufficient, so I `browserified` the node module. It's hefty (800+ kb), but it fixed that problem (still needed to apply your `setTimeout` workaround though). I documented it here: https://github

[2015-09-14 21:12] timelyportfolio commented on #2
since we can't see/debug anything in `V8` anyways, we could easily just minify and get the bundle down to about 450kb.

[2015-09-14 21:22] ateucher commented on #2
:+1:

[2015-09-15 12:48] hrbrmstr commented on #2
Andy, doesn't `rgeos::gSimplify`'s `topologyPreserve` do what it says?

[2015-09-15 13:56] ateucher commented on #2
Hi @hrbrmstr - not exactly. It preserves the topology of single polygons, but not multiple neighbouring polygons with shared boundaries - see [here](http://gis.stackexchange.com/questions/30782/how-to-generalize-spatialpolygons-and-conserving-topology-in-r).

[2015-09-16 05:27] ateucher commented on #2
As suspected, `applyCommands` doesn't accept two GeoJSON files: https://github.com/mbloch/mapshaper/issues/95

So, I've probably done a Terrible Thing, and I haven't tested it nearly enough, but I have a function that does clipping using a hack with `runCommands`:

[code]

[2015-09-16 11:23] timelyportfolio commented on #2
I think that is the only way, and it **works**.  I'll try to poke around and just see if I can figure out how to do a direct `clip`.

[2015-09-28 21:32] timelyportfolio commented on #1
As of now, I am planning to try to merge in the `htmlwidget` piece once `test-v8` stabilizes enough to get merged into `master`.  Does that work?

[2015-09-28 23:00] ateucher commented on #1
That's fantastic, thanks! I think it's getting close to getting the core stabilized and I will merge into master soon and start to flesh out the functions.

[2015-09-28 23:10] ateucher opened #4 "Code review?"
Hi @timelyportfolio and @sckott - I've worked out the core pieces to pass things back and forth from R and the mapshaper commands (in `test-v8` branch which I will merge into master soon), but would love a quick look before I go too much further.

I feel like the switching between `sp` classes and `json` to pass into JS-land and out again is a bit clunky, especially around projections. It's pretty

[2015-09-28 23:17] ateucher commented on #4
If you're able of course. I really appreciate the help you've given me already!

[2015-09-28 23:21] sckott commented on #4
@ateucher will look soon

[2015-09-29 00:25] ateucher commented on #2
Closing this now. Thanks for all your help @timelyportfolio!

[2015-09-29 00:25] #2 closed

[2015-09-29 00:27] ateucher commented on #4
Thanks @sckott - even just a quick look for any obvious pitfalls would be great.

[2015-10-06 14:57] sckott commented on #4
Looks like there aren't egs with  the functions. Are there examples anywhere else?

[2015-10-06 16:41] ateucher commented on #4
Ah, good point. I'll add some and ping you here again. Sorry about that

[2015-10-15 18:48] ateucher opened #5 "Add explode option to simplify function"
To convert multipart polygons to singlepart so they don't get lost in simplification

[2015-10-16 05:21] #5 closed

[2015-11-02 17:28] ateucher opened #6 "add precision output parameter"

[2015-11-14 04:25] ateucher opened #7 "Always output a featureCollection"
If no features, mapshaper commands will output a geometrycollection, which readOGR chokes on most of the time. See here: https://github.com/mbloch/mapshaper/issues/99

[2015-11-19 18:02] ateucher commented on #7
Fixed in 7ae742cd67238

[2015-11-19 18:59] ateucher opened #8 "Drop null geometries"
If you simplify with a high level of simplification, and `keep == FALSE`, you get features with null geometries. `rgdal::readOGR` can't deal with these, so `ms_simplify.SpatialPolygonsDataFrame` fails when converting back to a `Spatial` object. Add a function that removes the features with null geometries.

[2015-11-19 19:00] ateucher commented on #8
Fixed in 0efdd0c3. for `SpatialPolygonsDataFrame`. Probably best to make it optional in the geojson methods.

[2015-11-20 00:54] ateucher opened #9 "mapshaper output options (-o) don't work in V8"
They assume writing a file, so get errors about missing filesystem Node.js functions (fs.statSync). The only one that would be nice to use would be the precision argument (#6).

[2015-11-20 00:55] ateucher commented on #6
See #9.

[2015-11-20 20:25] ateucher opened #10 "allow clip/erase with bbox"

[2015-11-20 20:27] ateucher commented on #8
Implemented in 3a8c9049975eafc95adc65de2f43a0a2ec78b9e9

[2015-11-20 20:27] #8 closed

[2015-11-21 05:52] ateucher opened #12 "Implement more mapshaper commands"
https://github.com/mbloch/mapshaper/wiki/Command-Reference#-clip

- [x] simplify
- [x] clip
- [x] erase
- [x] dissolve
- [x] explode
- [ ] lines
- [ ] innerlines
- [ ] points
- [ ] join
- [ ] each ??
- [ ] filter
- [ ] filter-islands
- [ ] filter-fields
- [ ] rename-layers
- [ ] rename-fields
- [ ] merge-layers
- [ ] calc

[2015-11-21 05:54] ateucher commented on #10
Implemented in #11

[2015-11-21 05:54] #10 closed

[2015-11-21 21:13] ateucher opened #14 "Make default methods for all functions"
`character` and `list`. Use `geojsonio::lint` for these, but don't bother for `geo` and `Spatial` classes

[2015-11-23 23:13] ateucher commented on #14
Just did for character for now. list can take too many forms.

[2015-11-23 23:13] #14 closed

[2015-11-23 23:20] ateucher opened #15 "Restrict what kind of feature each function can work with"
https://github.com/mbloch/mapshaper/wiki/Command-Reference#-clip
- [x] simplify - polygons, lines
- [x] clip - polygons, lines and points (clipping layer must be poly or bbox)
- [x] erase - polygons, lines and points (erase layer must be poly or bbox)
- [x] dissolve - polygons only
- [x] explode - polygons, lines, and points (see comment below)
- [x] lines - polygons
- [x] innerlines - polygons
-

[2015-11-24 20:09] ateucher opened #16 "Possible bug in rgdal::readOGR for MultiPoint geojson"
[code]

[2015-11-24 20:23] timelyportfolio commented on #12
@ateucher, you're doing very fine work.  Unfortunately, my domain ignorance is preventing me from helping much, but I am following along.  Let me know if I can do anything.

[2015-11-24 20:35] ateucher commented on #15
explode won't work right now with `SpatialMultiPointsDataFrame`. There is no `sp::disaggregate` method for `SpatialMultiPointsDataFrame`, and `rgdal::readOGR` has trouble reading MultiPoint geometries in geojson.

[2015-11-24 20:39] ateucher commented on #12
Thanks @timelyportfolio! I'm really close to having something that people can kick the tires of. I'm trying to get all the methods implemented and tested for the five core functions checked above (`simplify`, `erase`, `clip`, `dissolve`, `explode`) before I put a note on Twitter asking people to try it out and provide feedback.

Any time you want to try to incorporate your widget is fine by me - b

[2015-11-24 20:41] ateucher commented on #15
Also, why is there a `SpatialMultiPointsDataFrame` class, but not for lines and polygons? The main `SpatialLines` and `SpatialPolygons` classes can include multipart shapes already.

[2015-11-25 16:16] sckott opened #17 "Imports?"
noticed that in your `NAMESPACE` there's no import statements. Looks like you namespace imported function calls in your pkg, which is i think why check doesn't complain. I'd add `@importFrom ...` to https://github.com/ateucher/rmapshaper/blob/master/R/rmapshaper.R

or is there a good reason no to?

[2015-11-25 16:27] sckott opened #18 "geojsonio cran"
should we push new version of `geojsonio` to CRAN soon? that is, are you trying to push this soon?

[2015-11-25 17:22] ateucher commented on #18
I think I'm going to add more mapshaper commands (See #12) before I push to CRAN. It will be my first attempt at submitting to CRAN, so I will take some time to make sure I've got my t's crossed and i's dotted... Hopefully in the next week or so though.

[2015-11-25 17:27] ateucher commented on #17
I've been a bit confused about this for a time, but after re-reading the [imports](http://r-pkgs.had.co.nz/namespace.html#imports) section in r-pkgs again, I think this is ok. In fact, it is what Hadley recommends.  I've always used `@importFrom` before, but I actually liked writing using `::` throughout. It keeps it clear in my head what functions I'm using from where...

[2015-11-25 18:06] sckott commented on #18
okay, still no response on the osx binaries of `rgdal`, soooooo

[2015-11-25 18:08] sckott commented on #17
okay, hadn't read that section

[2015-11-25 18:25] #17 closed

[2015-11-25 18:31] ateucher commented on #18
Ugh. I would suggest pushing and leave it to CRAN to sort out - but up to you of course.

But first, I think #16 might have implications for `geojsonio` as well, so I'm going to look at it today and try to PR something to you. I think there is a case for `MultiPointDataFrame` methods in `geojson_json`, `geojson_list`, `geojson_read`, `geojson_write`, etc.

[2015-11-25 18:37] sckott commented on #18
right, but i worry about osx users though. if we require `rgdal > X version` they have to install from source, and I don't know if that will end up well or not

sounds good.

[2015-11-25 19:37] ateucher commented on #18
@sckott I've continued this back in the relevant [geojsonio issue](https://github.com/ropensci/geojsonio/issues/69#issuecomment-159709466)

[2015-11-25 21:14] sckott commented on #18
thanks

[2015-11-26 01:39] ateucher commented on #18
With regards to `SpatialMultiPointDataFrame` methods in `geojsonio`, I think I'll hold off. I was poking around in the `sp` r-forge repository and it looks like they're newly added classes that they are still working on implementing methods for. I think it's best to wait and see...

[2015-11-26 02:15] sckott commented on #18
Okay, thanks for update

[2015-12-14 23:34] ateucher opened #23 "add snap `interval` argument in simplify"
https://github.com/mbloch/mapshaper/wiki/Command-Reference#-simplify

[2015-12-22 23:37] ateucher opened #24 "Add hole comments to polygons"
See `rgeos::createSPComment`

[2015-12-22 23:47] ateucher opened #25 "See if dissolve2 works"
Use in `ms_dissolve` if new arg 'overlaps' is `TRUE`.

[2016-01-16 15:32] ateucher commented on #18
geojsonio 0.1.6 pushed to CRAN on 2016-01-15

[2016-01-16 15:32] #18 closed

[2016-01-18 23:40] ateucher opened #26 "deal with missing values"
`NA` values that go into mapshaper come back as `{ }`.

[2016-01-20 17:43] ateucher opened #27 "Add weighting argument to ms_simplify"
https://github.com/mbloch/mapshaper/wiki/Command-Reference#-simplify

[2016-02-01 19:24] ateucher commented on #4
Closing this for now... will likely submit to rOpenSci and hopefully get a review then :)

[2016-02-01 19:24] #4 closed

[2016-02-01 19:55] ateucher commented on #9
No getting around this that I can see. `geojsonio::geojson_write` has a `precision` parameter.

[2016-02-01 19:55] #9 closed

[2016-02-04 03:44] ateucher commented on #24
This is default  = TRUE in readOGR(), so shouldn't be necessary

[2016-02-04 03:44] #24 closed

[2016-02-04 03:51] #6 closed

[2016-02-16 00:13] ateucher opened #28 "Performance with sp objects"
Seems really slow compared to eg:

[code]

Might be related to writing really long geojson strings??

[2016-02-16 00:21] ateucher commented on #28
Profiling shows major bottleneck is in `geojsonio::geojson_json`, in `sp_to_GeoJSON`. Need to profile that to see if can be improved.

[2016-02-16 17:44] ateucher commented on #28
Is there a way to get around writing to disk by writing to `stdout` and capturing it as a character vector?

[code]

[2016-03-17 19:20] ateucher opened #29 "Error early if sp object has no features"
Right now get cryptic "TypeError: Cannot read property 'info' of null"

[2016-03-21 10:17] masztalski opened #30 "Problem with callback data"
Hello,
I have strange issue when trying to convert both shp and dbf file into geojson. File *.json is generated properly, but in callback function dataset is null object, so I cannot display it
[code]

[2016-04-06 17:32] ateucher commented on #30
Hey there, I think you might be looking for the [mapshaper](https://github.com/mbloch/mapshaper) proper repo. This is an R package I'm developing that wraps the mapshaper library.

[2016-04-06 17:33] #30 closed

[2016-05-08 15:04] ateucher opened #31 "Add examples"
Put examples in all function documentation

[2016-05-14 00:25] #26 closed

[2016-05-14 00:42] ateucher opened #32 "Error if simplified object has no geometries"
`ms_simplify.sp` - if geojson object comes out of V8 with no geometries, readOGR can't read it. Better to check if it has some valid geometries before trying to convert to sp. Possibly a joint solution with #29

[2016-05-17 21:35] ateucher opened #33 "add remove-slivers command to clip and erase"
Undocumented, but see https://github.com/mbloch/mapshaper/releases/tag/v0.3.25.

`mapshaper -h clip`

[2016-05-19 03:10] ateucher opened #34 "Make methods work with SpatialPolygons etc, not just SpatialPolygonsDataFrame"

[2016-06-02 19:17] javrucebo commented on #28
The main bottleneck seems actually to be due to a - seemingly unnecessary - transformation loop in the `geojsonio` package.

As you have already stated: The critical command in the `rmapshaper` package is this one:
[code]

And inside  `sp_to_GeoJSON` it is the `geojson_json` function which uses the biggest part of the overall time

[code]
So let's see what `geojson_json` is doing:
[code]
it is tra

[2016-06-02 20:35] ateucher commented on #28
Thanks @javrucebo! That is a very good point - we shouldn't need to go through the intermediate json object.  I will double-check that `jsonlite::fromJSON` isn't doing some important checking/validation, but I will likely implement the change (or you can submit a PR if you like). it's probably worth opening an issue over at [ropensci/geojsonio](https://github.com/ropensci/geojsonio) about it as we

[2016-06-02 20:41] ateucher commented on #28
Actually funny enough I just double-checked and the writing as geojson isn't so bad... so either my memory is faulty or rgdal had a recent update that fixed it...

[2016-06-02 22:04] ateucher opened #35 "Simpler travis setup?"
Like here: https://github.com/jhollist/quickmapr/blob/master/.travis.yml, using trusty distro to get more recent gdal

[2016-06-03 15:49] jhollist commented on #35
Even simpler: https://github.com/jhollist/lakemorpho/blob/master/.travis.yml

Doesn't rely on the trusty distro.

[2016-06-03 21:02] ateucher commented on #35
Thanks! I feel like I tried that a while ago but the binary was a really old version - has it been updated?

[2016-06-03 21:45] jhollist commented on #35
Good question.
On Jun 3, 2016 5:02 PM, "Andy Teucher" <notifications@github.com> wrote:

[2016-06-03 21:51] jhollist commented on #35
Doesn't look like it.  Line for the Travis log:

http://ppa.launchpad.net/marutter/c2d4u/ubuntu/ precise/main r-cran-rgdal amd64 0.8-16-1cran2ppa0saucy0

[2016-06-03 22:23] ateucher commented on #35
ok, thanks for checking!

[2016-06-10 20:57] ateucher opened #36 "Highlight diffs and overlaps with other spatial packages"
List pros and cons

[2016-06-11 07:15] #29 closed

[2016-06-11 07:15] #32 closed

[2016-06-11 07:16] ateucher commented on #28
Largely fixed in geojsonio by @javrucebo suggestions

[2016-06-11 07:16] #28 closed

[2016-06-25 00:55] ateucher opened #38 "use appveyor to test on Windows"

[2016-06-25 05:59] ateucher commented on #7
Reopening this because there is a more efficient way to do this by tweaking the mapshaper code. Could probably avoid the `force_FC` argument everywere

[2016-06-25 06:01] ateucher commented on #7
Work started in [always-fc](/ateucher/rmapshaper/tree/always-fc) branch

[2016-06-25 19:41] ateucher commented on #7
Although for geojson output, may want to get a geometryCollection in some cases...

[2016-06-25 20:39] ateucher opened #39 "Add 'weight' parameter for dissolve.points"
https://github.com/mbloch/mapshaper/wiki/Command-Reference#-dissolve

[2016-06-25 22:49] #34 closed

[2016-06-26 06:48] #31 closed

[2016-06-26 06:55] #38 closed

[2016-06-30 23:06] ateucher opened #41 "Change linting once new geojsonio gets published to CRAN"
Should be just a case of replacing `logical_lint` with `geojsonio::lint`, then tweaking tests. See [here](/ropensci/geojsonio/issues/82).

Should also make linting optional via param

[2016-07-08 18:30] ateucher opened #42 "Better facilitate piping with `sp` inputs"
For any of the methods for `sp` objects, the function converts it to `json` (`character`) before sending it into the `V8` context along with commands for processing, and a `json` character object is returned from the `V8` context. This is then converted back to an `sp` object before being returned to the user.

If the function is being used in a magrittr pipe chain with other `rmapshaper` function

[2016-07-08 19:08] gaborcsardi commented on #42
@ateucher I guess this is subjective. Personally, I am still not convinced. One issue is debugging. Debugging pipes is not a good experience imo, and then if you write the equivalent pipe-less solution, the function will run different code, so the error might not come up. Just one example of how non-pure functions are dangerous.

[2016-07-08 19:38] timelyportfolio commented on #42
@ateucher, could you preserve your `v8` context with each call, so that the transformed data is available for the next `mapshaper` call and could be reused if provided some argument?

[2016-07-08 19:39] smbache commented on #42
Surely, @gaborcsardi has a point, and there's sometimes a tradeoff between a "clean" DSL. That said it is surely possible, as it is almost the same as what jqr is doing. There the json query is built up by each verb and only the last one in the chain will trigger the actual jq interpreter. I guess you need to consider how you feel about the pros and cons and make up your mind.

[2016-07-08 19:40] timelyportfolio commented on #42
There is some discussion on `daff` about how to accomplish preserving `V8`.  Not having to initiate `v8` context each time also eliminates quite a bit of overhead.

[2016-07-08 19:45] gaborcsardi commented on #42
Also, how do you know what the next function in the pipeline expects as input? That function may come from another package or wherever. Do you check if it is coming from your package? I think this'll get really tricky to implement and probably also fragile. But I might miss the easy workaround....

[2016-07-08 20:02] smbache commented on #42
Maybe as default `return_class = auto()` where `auto` will determine whether it is within a pipeline and whether it is the last such...

[2016-07-08 20:21] gaborcsardi commented on #42
Yes, but even it is not last, it might need to return and `sp` object, if the next function in the chain does not know about this trick. Anyway, I guess you can work around this somehow....

[2016-07-08 20:23] ateucher commented on #42
@gaborcsardi another good point about debugging. And yes, it would need to be able to detect whether the next function in the pipe was from rmapshaper. It does seem like a potential house of cards...

@timelyportfolio I think even more efficient than preserving the v8 context would be to pass the original unaltered json all the way through, collecting and assembling mapshaper commands as we go (pe

[2016-07-08 20:25] ateucher commented on #42
That seems like a pretty nice way to allow user override on a bit of a black-box process...

[2016-07-08 20:28] gaborcsardi commented on #42
I think a better (but still tricky) way of solving these kind of problems, is to pass an object that can behave both as `json` and `sp`.

This might not be possible at this point, but in general, you can have an R6 object that has two active bindings: `json` and `sp`, but internally it might only store one of them. Then if a function requests `json`, and only `sp` is stored, it calculates `json` f

[2016-07-09 07:59] smbache commented on #42
+1 for R6 idea

[2016-07-11 18:13] ateucher commented on #42
That is intriguing! I'll probably keep it simple until I see how [sfr](/edzer/sfr) and [geojson](/ropenscilabs/geojson) play out, but thanks for the ideas!

[2016-09-02 05:38] ateucher opened #44 "Replace geojsonio::lint"
Will be deprecated in next release of `geojsonio`

[2016-09-02 06:04] #23 closed

[2016-09-08 00:06] ateucher commented on #41
Superseded by #44

[2016-09-08 00:06] #41 closed

[2016-09-14 23:16] ateucher opened #46 "Restore original column classes in sp methods"
In conversion of geojson to sp (`GeoJSON_to_sp`), should ensure `StringsAsFactors = FALSE` in `rgdal::readOGR`

[2016-09-17 18:00] ateucher opened #47 "Support sfr"

[2016-10-09 14:59] bhaskarvk commented on #12
Could you also add the convert feature. It might come in handy for converting to/from various formats w/o needing rgdal.
Also I found that reading topojsons exported from https://pitchinteractiveinc.github.io/tilegrams/, using either rgdal or geojsonio doesn't quite work, but if I export that topojson to a shapefile using mapshaper then the resulting shapefile works well.
So there's a use case for

[2016-10-09 19:10] ateucher commented on #12
Hi @bhaskarvk, thanks for the note.

 By convert, do mean the `format` output option listed [here](https://github.com/mbloch/mapshaper/wiki/Command-Reference#-o-output)? Unfortunately the `-o` options aren't currently exposed in the mapshaper command line API, so that's not currently possible. I will think on it a bit more though

As for the topojson read issue, could you open up an issue in [http

[2016-12-01 03:08] mdsumner commented on #46
+1

Just got burnt by this ;)  I wonder if this is a clear case where the class of each attribute should be stored prior to the write/read steps? It's pretty annoying, since you can't specify  colClasses in readOGR, but you might record what attributes were what, and restore the factors (and their levels) as required.

[2016-12-01 04:28] ateucher commented on #46
Yes, great idea. Thanks!

[2016-12-01 04:30] ateucher commented on #46
Changed issue title to reflect this

[2016-12-05 20:35] ateucher opened #48 "ms_simplify very small keep values get converted to scientific notation"
`Error in context_eval(join(src), private$context) :
  APIError: [simplify] Unparsable option: 5e-04`

[2016-12-10 00:29] ateucher opened #49 "launch a V8 session once per function call"
Rather than a session-wide context, launch once per function call. I think that way we should be able to support parallel processing without running out of memory as quickly.

[2016-12-12 12:28] rsbivand opened #50 "Extreme test timings"
When working with sp, rgdal and rgeos, we always run recursive dependency checks. These of course take a long time, but rmapshaper now takes far longer than any other package (rgdal clocks in at roughly 2h10m for all dependencies, of which rmapshaper is:

real	24m13.731s
user	23m59.475s
sys	0m16.866s

almost all of which is in testthat.

[2016-12-12 12:31] rsbivand opened #51 "What about sf?"
What about interfacing [sf?](https://cran.r-project.org/web/packages/sf/index.html)

[2016-12-12 12:35] rsbivand opened #52 "Check against GRASS"
Have you checked with a topological vector model GIS, like [GRASS](http://grass.osgeo.org/)? Are the output polygons different with [v.generalize](https://grass.osgeo.org/grass70/manuals/v.generalize.html)?

[2016-12-12 17:45] ateucher commented on #50
Wow. I'll check into that, thanks.

[2016-12-12 17:47] ateucher commented on #51
Definitely in the plan. I am working on getting sf support into [geojsonio](https://github.com/ropensci/geojsonio/pull/95) which will perform the translation to geojson (required to pass the object into the mapshaper V8 context).

[2016-12-12 17:51] ateucher commented on #52
I haven't, but it would be interesting to see. It doesn't look like v.generalize has the option to use the [Visvalingam](https://bost.ocks.org/mike/simplify/) simplification method, which is what [mapshaper uses](https://github.com/mbloch/mapshaper/wiki/Simplification-Tips), so I'm guessing this will cause some differences.

[2016-12-14 22:20] ateucher commented on #50
@rsbivand just so I'm clear - this is using the CRAN version of rmapshaper with the development version of rgdal?

[2016-12-15 08:35] rsbivand commented on #50
CRAN source versions of rmapshaper, rgdal and rgeos, development version of sp at github: edzer/sp, but with rgdal and rgeos installed linking to the development version of sp. I can try with CRAN everything on a faster Fedora 25 desktop:

[code]
almost all of which is in `Running ‘testthat.R’`

[2016-12-15 18:16] ateucher commented on #50
Thanks, that is really strange. On my Windows machine (CRAN everything), I get:

[code]

I'll try on my Mac and Ubuntu machine at home in the next few days and see what I can find out.

[2017-01-04 18:31] ateucher commented on #50
Hi @rsbivand I'm afraid I can't reproduce this. I've run it on all machines I can get my hands on including several r-hub build machines (Fedora, Ubuntu, Debian) with r-release and r-devel and all of them build and check quickly, with tests running on the order of ~25s.

[2017-01-05 04:43] jbkunst commented on #49
Hi @ateucher

Yes! Please! It will be an elengant solution to https://github.com/ateucher/rmapshaper/blob/e7e0b4f3d8e67edda6bce59294c2e66ed971e90c/R/onLoad.R#L4.

Besides I have problem when I try to load the package in knitr a document. So I need to put the `library(rmapshaper)` out of the rmd document and load before knit the rmardown file :/.

Thanks for this package 💃

[2017-01-05 19:06] ateucher commented on #51
Duplicate of #47

[2017-01-05 19:06] #51 closed

[2017-01-05 19:07] ateucher commented on #50
Closing for now unless it come up again.

[2017-01-05 19:07] #50 closed

[2017-01-11 07:02] #49 closed

[2017-01-14 22:11] mdsumner opened #53 "ways to generate TopoJSON"
@sckott

I'm interested in how we can do this, please treat this as a draft/placeholder for discussions. There's a lot more to say  :)

I'm motivated to do this so we could leverage the topological support for reprojecting simple features as per the Flawed Example by Mike Bostock.  It does work, here is raw TopoJSON in an Albers Equal Area Conic leaflet map, without killing Antarctica (zoom doesn'

[2017-01-14 22:33] mdsumner commented on #53
@sckott specific question for the roll-our-own project, if I have code to build the integer-scaled coordinates and the indexes of each arc for objects can you show me how to turn that into the TopoJSON structure? To do it I'd be hacking lists and sprintf manually and you probably know better ways :)

[2017-01-16 01:42] sckott commented on #53
we used to wrap the topojson JS cli tool via system calls in `geojsonio` - but was so hacky that I wanted to remove it

i'm working on topojson writer in `geojsonio` https://github.com/ropensci/geojsonio/issues/100 using JS - but it appears we're not quite there yet

i can definitely help.

----

one thought i had is that it'd be nice to have a geojson -> topojson converter - whether pure R or c++

[2017-01-16 19:34] ateucher commented on #53
Thanks for the discussion!

I think most of this belongs in `geojsonio` as it should be the general converter package. I will definitely explore allowing `rmapshaper` to output topojson using `mapshaper`'s internal machinery, but users shouldn't have to load `rmapshaper` if all they want is to convert to `topojson`.

[2017-01-16 19:47] mdsumner commented on #53
OK that is helpful, ultimately flexibility is good, the mapshaper engine
approach and an "all or mostly R" approach. We are working on the latter

On Tue, Jan 17, 2017, 06:34 Andy Teucher <notifications@github.com> wrote:

--
Dr. Michael Sumner
Software and Database Engineer
Australian Antarctic Division
203 Channel Highway
Kingston Tasmania 7050 Australia

[2017-01-22 18:13] #44 closed

[2017-01-28 08:02] ateucher commented on #46
Started in col-classes branch

[2017-01-29 08:00] ateucher opened #54 "Deal with FIDs in Spatial objects"
in mapshaper they are converted to an `id` attribute, and are not read into a column with `readOGR` (but are possibly converted to rownames. Need to investigate.

[2017-02-01 06:17] #46 closed

[2017-02-01 06:17] #54 closed

[2017-02-01 06:31] ateucher commented on #48
Closed with 7dfda113bfa60c0f74004c9f6ee4f1a1e03f1062

[2017-02-01 06:31] #48 closed

[2017-02-01 07:23] #27 closed

[2017-02-01 07:23] #33 closed

[2017-03-13 17:09] ateucher opened #56 "Ensure images available for README.html"
as per CRAN email:

[2017-06-11 03:49] ateucher commented on #47
- [x] ms_simplify
- [x] ms_dissolve
- [x] ms_clip
- [x] ms_erase
- [ ] ms_explode
- [ ] ms_lines
- [ ] ms_innerlines
- [ ] ms_points
- [ ] ms_filter_fields
- [ ] ms_filter_islands

[2017-07-15 16:31] ateucher opened #57 "ms_innerlines should return sfc/SpatialLines"

[2017-07-19 23:20] ateucher commented on #7
This is done

[2017-07-19 23:20] #7 closed

[2017-07-22 14:52] #56 closed

[2017-07-22 14:52] #57 closed

[2017-08-15 15:54] Nowosad commented on #47
@ateucher closed?

[2017-08-15 17:32] ateucher commented on #47
Yup, thanks! Just prepping for CRAN release...

[2017-08-15 17:32] #47 closed

[2017-08-15 18:46] Nowosad commented on #47
Awesome!

[2017-08-15 19:09] Nowosad opened #59 "Large file support"
The `mapshaper` library supports large files (https://github.com/mbloch/mapshaper) by changing the memory limit. Is it possible in `rmapshaper`?

[2017-08-15 21:21] ateucher commented on #59
This is something I would really like to enable, but that is a feature of Node.js, not mapshaper specifically. `rmapshaper` uses the [V8](https://github.com/jeroen/V8) R package to run the mapshaper javascript library in R. Node is built on V8.

I opened an [issue](https://github.com/jeroen/V8/issues/33) about this, but it doesn't look like it's easy (certainly beyond my C++ abilities). I think it

[2017-08-16 14:08] ateucher commented on #53
I'm going to close this as @sckott has been been doing some very nice work on [topojson support in geojsonio](https://github.com/ropensci/geojsonio/pull/116)

[2017-08-16 14:08] #53 closed

[2017-08-16 14:08] #16 closed

[2017-08-16 14:09] #35 closed

[2017-08-16 14:09] #39 closed

[2017-08-16 14:09] ateucher commented on #39
This is done in v0.3.0

[2017-08-16 14:12] ateucher opened #60 "Upgrade to mapshaper 4.x"
This may not be smooth as there were some fairly big under the hood changes that V8 may not like

[2017-08-16 16:11] Nowosad commented on #59
Thanks for the explanation and your great work @ateucher!

[2017-08-16 16:11] #59 closed

[2017-10-16 18:24] Robinlovelace opened #61 "Performance on large files"
I've just been using this on some moderately large shapfiles.

Here's some reproducible code to demo the issue:

[code]
[code]
[code]
Context: I'm frustrated at the poor provision of UK administrative borders in suitable file formats or levels of simplification and have started a package to deal with it:

https://github.com/Robinlovelace/ukborders

Thanks loads for rmapshaper in any case!

[2017-10-16 21:13] ateucher commented on #61
Hi @Robinlovelace - thanks for the report, and the reprex. I have definitely run into issues with rmapshaper being unable to handle really large spatial objects, but in this case I had no trouble (See below). Can you output your `sessionInfo()`?

[code]

![](https://i.imgur.com/MnZzpHH.png)

[2017-10-16 21:14] ateucher commented on #61
Also related to #59

[2017-10-16 21:56] Robinlovelace commented on #61
Apologies, I provided the smaller of the 2 .shp files (not tested). Please try on this bigger one:

[code]

[2017-10-16 23:05] ateucher commented on #61
Ah, that is a different beast. It did complete for me, but it was definitely slow:

[code]

I'll see if I can find anything that can do better, but the bottleneck is converting to geojson before sending it into the V8 context to be processed by the mapshaper javascript library.

[2017-10-17 00:17] Robinlovelace commented on #61
Could there not be an option to do it via read/write and `system()`?

I recall doing a bodge involving that (I think you helped me with it!) and it was pretty fast.

[2017-10-17 02:26] ateucher commented on #61
There could for sure, I’ve definitely thought about it. Would require some thought about how to make sure the system `mapshaper` API is consistent with the commands generated in `rmapshaper`.

[2017-11-08 18:43] ateucher commented on #61
I'm working on optionally using the system `mapshaper` in the `mapshaper_v0.4.x` branch, along with upgrading to the latest version of `mapshaper`.

[2017-11-08 18:53] ateucher opened #63 "Don't test character strings directly"
There are small enough differences in whitespace etc in geojson strings between mapshaper versions and OSes that this is annoying and a cause of a lot of false failures. Better to test attributes (no features, type, etc) and/or list objects.

[2017-11-08 21:03] Robinlovelace commented on #61
Great news - let me know when it's ready to test and I can do some benchmarks. For 9 in 10 use cases it's unlikely to make any difference so 100% behind it being an option for people handling chunky files. Thanks loads!

[2017-11-22 16:15] Robinlovelace opened #64 "Error related to st_read"
Sorry to be reporting another issue on an otherwise excellent pkg but something's not right here - any ideas?

Reprex + session info below:

[code]

![](https://i.imgur.com/y0sy1wu.png)

[code]

<details><summary>Session info</summary>

[code]

</details>

[2017-11-22 17:12] ateucher commented on #64
Thanks for the report. This is with the CRAN version? Funny that this should just be happening now... a new version of sf?

[2017-11-22 17:14] ateucher commented on #64
Sorry just looked at your sessioninfo. GitHub version - whew!

[2017-11-22 21:29] ateucher commented on #64
OK - looking at sf on GH, this is a result of making `st_read` generic, so there is no method for objects of class `json`. Unclassing the `json` object before reading does the trick; I will try to submit a patch to CRAN before the next `sf` release. Closed with 2e472b3. Thanks for catching this @Robinlovelace!

[2017-11-22 21:29] #64 closed

[2017-11-22 22:00] Robinlovelace commented on #64
No problem - thanks for the quick fix and feedback. Good it's the result of defensive programming (it seems) rather than anything else. P.s. feel free to lift any of my shoddy simplify code from stplanr - I think using the mapshaper directly is useful on big files, hence my recent update of the aged `stplanr::mapshape` function.

[2017-11-23 05:45] ateucher commented on #64
Thanks again @Robinlovelace - it’s on the master branch now.

Re using the system mapshaper - agree 100% and I’ve got a good start on it in mapshaper_v0.4.x. Will try to find time get it wrapped up in the next couple of weeks

[2017-11-23 17:56] ateucher opened #65 "Consider logging"
https://github.com/mbloch/mapshaper/issues/233#issuecomment-346651886

[2017-11-29 23:57] ateucher opened #66 "Support geojson classes"
From package geojson - should be a simple matter of unclassing to character.

[2018-01-11 23:50] philstraforelli opened #67 "Encoding issue after using ms_simplify()"
See the following reprex:

[code]

I can work around it, but I just thought you should be aware of this.

[2018-01-13 00:04] ateucher commented on #67
Hi @philstraforelli - thanks so much for the report and reproducible example. I will look into it.

[2018-01-13 04:44] ateucher commented on #67
I can't reproduce this on my Mac... @philstraforelli are you on Windows?

Just so I can rule out an issue with `V8`, can you check if this returns the correct string?

[code]

[2018-01-13 07:27] philstraforelli commented on #67
I get `"Provence-Alpes-Côte d'Azur"`.

Here's my `sessionInfo()`:

[code]

[2018-01-13 22:37] ateucher commented on #67
Thanks again @philstraforelli. I don't have a Windows machine readily available, so I hope you don't mind being a guinea pig... Can you run the following and post the output?

[code]

[2018-01-15 16:28] philstraforelli commented on #67
See below:

[code]

[2018-01-15 21:33] philstraforelli commented on #67
I've been doing some other searches on the issue and noticed [this discussion](https://github.com/tidyverse/readxl/issues/125). I'm starting to think my issue is somewhat related to this one. That is, it's more of an issue related to the machine than to the rmapshaper (or readxl) package.

[2018-01-15 21:48] ateucher commented on #67
Thanks so much @philstraforelli. I've found where the bad conversion occurs (converting `geojson` string back to an `sp` object after the simplification), and I may have a solution... I'll do a bit of testing and maybe ask you to try it out later today or tomorrow...

[2018-01-16 20:01] ateucher commented on #67
@philstraforelli I think I have it fixed in the devlopment version. Can you install it from github and try your original test again?

[code]

[2018-01-16 20:05] philstraforelli commented on #67
Success!

[code]

[2018-01-16 20:25] ateucher commented on #67
Woot! Thanks so much for the report and helping test :)

[2018-01-19 04:28] mdsumner opened #69 "date/time round-trip"
(just some notes for now)

- use as.Date/as.POSIXct with explicit format string because internal logic is quirky

as.Date(c("", "2001-01-01")) ## is an error but
as.Date(c("2001-01-01", "")) ## gives an NA in 2nd place

[2018-01-19 05:28] ateucher commented on #69
Oh your second point is very interesting!

I'm not quite sure what you mean by doing data frame traversal first... right now it collects the information about the columns in `col_classes()`, and uses that information to put it back right with `restore_classes()` after it has gone through the mapshaper routine. It clearly needs to deal with Date/POSIXct columns better. And probably in `restore_clas

[2018-01-19 06:34] mdsumner commented on #69
The scenario in mind is when the geometric conversion takes some time, and presumably succeeds - but then we fail on some data column - so could we fail on the data column first, before the geom operation?

I'm also guessing that a loop for the "{ }" check would be better than a "[<-" replacement, but I haven't checked yet.

It's probably not important if we get the restoration right :) but it's c

[2018-01-19 18:50] ateucher commented on #69
It's very possible I'm missing something, but the data column parsing has to happen after the geometric conversion because the sequence of events is: sf/sp -> geojson -> into v8 context -> mapshaper magic -> out of v8 context -> geojson -> sf/sp. It's this last geojson -> sf/sp where we are restoring column classes and that's where the failure happens.

Unless.... what if we remove all of the attr

[2018-01-19 22:21] mdsumner commented on #69
Oh true, I forget it's not a one-to-one output, you're quite right!  Your last proposal sounds good, and should work.

[2018-01-25 05:23] ateucher commented on #69
I think it's going to require a bit more thought around dealing with objects that end up being aggregated/disaggregated (thinking especially `ms_dissolve()`, `ms_explode(), `ms_simplify(explode = TRUE)`, but there may be more...

[2018-02-04 06:56] ateucher commented on #61
Hi @Robinlovelace - I've finally got around to implementing this. If you are willing to give it a bit of a test drive, that would be great! You can `install_github("ateucher/rmapshaper", ref = "mapshaper_v0.4.x")`. The argument is `sys` and is available in all functions. Default is `FALSE`, so if you set it to `TRUE` it should work!

[2018-02-04 16:44] Robinlovelace commented on #61
Fantastic work @ateucher this is 4 times faster on the smaller of the examples - will make life easier for ppl wanting to simplify giant vector datasets. Can test on larger dataset at some point but from sketchy wifi connection on laptop, it expectations! Reprex showing the speed-up:

[code]

![](https://i.imgur.com/UtSAZMT.png)

[2018-02-04 16:44] #61 closed

[2018-02-04 20:06] ateucher commented on #61
Excellent! I ran it with the big version and this is what I get:

[code]
Still not super fast but much better; the bottleneck is writing to geojson with `sf::st_write`...

[2018-02-05 10:26] Robinlovelace commented on #61
Great - exceeds expectations! One idea you may have already tried is writing to different formats. I think this is a great solution in any case, many thanks for the fix.

[2018-02-14 01:16] #15 closed

[2018-02-17 00:14] boshek opened #70 "ms_simplify silently changing the name of the geometry column"
`ms_simplify()` appears to be silently changing the name of the geometry column from X to geometry. See this reprex (using `bcmaps`):
[code]

[2018-02-17 01:06] ateucher commented on #70
Thanks for the report! Should be relatively easy fix

[2018-02-25 02:17] sheffe opened #71 "protect(): stack overflow error at relatively low resource usage"
I'm working with a moderately sized sf polygon object (all US census tracts downloaded by the tigris package), about 73k rows and 150Mb in memory according to object.size(). I'm using ms_simplify() with default params, and getting a consistent error of the form `Error: protect(): protection stack overflow`. Other sf polygon objects work just fine, but they're meaningfully smaller.

I'm running Mac

[2018-02-26 07:14] ateucher commented on #71
Hi @sheffe - thanks for the report. I can replicate this as well. It looks like the error occurs in `geojsonio::geojson_json` (which is used internally in `rmapshaper`. From your example, if you run just `geojsonio::geojson_json(alltracts)` you get the same error. In particular, if you look at the output of `traceback()` after the error it looks like it is occurring with `jqr`... I'll post more de

[2018-02-27 18:38] sheffe commented on #71
@ateucher done, and thanks for all the work.

[2018-03-08 17:39] ateucher opened #72 "Investigate `mapshaper-xl` for launching with 8GB heap size"
https://github.com/mbloch/mapshaper/commit/b8979b87d8f97fdbccd91ec04859696fc98cce37

[2018-03-26 22:28] #67 closed

[2018-03-26 22:30] #63 closed

[2018-03-27 17:35] #60 closed

[2018-03-27 17:35] #70 closed

[2018-03-27 17:35] #71 closed

[2018-03-29 04:46] boydcurrey opened #74 "ms_simplify giving Error in ogrInfo : Cannot open data source"
I have been using `ms_simplify` to simplify shapefiles for the past few weeks, and then I went away for a week on holiday. I come back to pickup my code, and I now get an error when calling `ms_simplify`:

[code]

This is how I'm using it as per various guides out there:

[code]

In case it matters (though it's happening to me on various shapefiles), the shapefile referred to above is  available a

[2018-03-29 08:13] boydcurrey commented on #74
Some additional info from the stack trace:

Error in ogrInfo(dsn = dsn, layer = layer, encoding = encoding, use_iconv = use_iconv, : Cannot open data source

[code]

[2018-03-30 06:10] ateucher commented on #74
Hi @boydcurrey. This is due to a change in the latest version of rgdal (you can see a discussion [here](https://github.com/ropensci/geojsonio/issues/130) as it also affected geojsonio). I have an update of rmapshaper ready to submit to CRAN, it will hopefully be published in the next few days. In the meantime, you should be able to use the development version of `rmapshaper` with the development v

[2018-03-30 09:47] boydcurrey commented on #74
Thanks @ateucher for the quick response. I will have a read and give these a whirl and look forward to the updated release. Thanks again :)

[2018-04-04 02:49] ateucher commented on #61
@Robinlovelace rmapshaper 0.4 is now on CRAN with the `sys` argument available in all functions.

[2018-04-04 02:52] ateucher commented on #74
@boydcurrey this is now fixed in rmapshaper v0.4, now on CRAN

[2018-04-04 02:52] #74 closed

[2018-04-04 09:27] Robinlovelace commented on #61
Fantastic, many thanks! Heads-up @Nowosad we should mention this in the simplification section of the book.

[2018-04-05 14:19] Nowosad opened #75 "rmapshaper does not work when a column has the `units` class"
Hi @ateucher!
The new version of **rmapshaper** has an issue that was not in the previous one.  It throws an error when at least one of the columns in the dataset has the `units` class.
Do you think it is possible to keep this column and its class or (at least) convert it to `numeric` with a warning?

[code]

[2018-04-05 16:49] ateucher commented on #75
Thanks @Nowosad! I find that a lot of functions in general don't deal well with `units` classes, so I often just end up doing as you did and converting to basic `numeric`. However, since they are pretty common in `sf` objects it is worth supporting them properly.

Related: Discussion in #69.

[2018-04-14 14:21] Nowosad opened #76 "Inconsistent results with `sys=FALSE` and `sys=TRUE`."
Hey @ateucher. I have seen inconsistency in rmapshaper outputs between my (Fedora) and other people's computers, but could not understand it before the newest version of **rmapshaper**. In the example below, you can see that I get different result when using `sys=FALSE` and `sys=TRUE`. I also attach my system info.
J.

[code]

<details><summary>Session info</summary>

[code]

</details>

[2018-04-14 15:41] ateucher commented on #76
Wow, that’s very different! What is your system mapshaper version (`mapshaper —version` on the command line)?

Sent from my iPhone

[2018-04-14 15:42] Nowosad commented on #76
[code]

[2018-04-14 20:54] ateucher commented on #76
Thanks @Nowosad. Can you post a smaller example with a publicly available dataset? And even better use a geojson file so we can easily compare outputs?

[2018-04-14 20:57] Nowosad commented on #76
Oh, sorry - I've thought that I uploaded the data. The file from my example - [statsnzregional-council-2018-clipped-generalised-GPKG.zip](https://github.com/ateucher/rmapshaper/files/1911058/statsnzregional-council-2018-clipped-generalised-GPKG.zip).

[2018-04-15 05:57] ateucher commented on #76
Well I've confirmed the output is the same on my computer. I'm at a bit of a loss how to debug this... The only thing I can guess is that it must have something to do with v8...

[2018-04-15 13:29] Nowosad commented on #76
I am also clueless here. It is not a new problem - I've got very similar issue while writing the book section about simplification. Result on my computer was different from the online book version, which uses travis + ubuntu.

Right now, with the `sys` argument is not a very big problem.

EDIT: I've reproduced the issue on my other fedora computer.

[2018-04-15 16:44] ateucher commented on #76
Ok thanks. That was going to be my next question. (Whether it’s reproducible across Fedora machines).  If you clone locally and run tests do they pass? Checks are ok on the CRAN Fedora machines (super slow though): https://cran.r-project.org/web/checks/check_results_rmapshaper.html

[2018-04-15 17:00] Nowosad commented on #76
I confirm that (a) check is rather slow and (b) it passes. Details below:

[code]

[2018-04-15 19:08] ateucher commented on #76
Can you confirm you have the right `libv8` installed (`sudo yum install v8-314-devel`, from here: https://github.com/jeroen/V8/blob/master/README.md).  I doubt it would work at all if you didn’t, but thought I’d mention it.

[2018-04-15 20:12] Nowosad commented on #76
Yes, I have it.

[2018-04-16 17:05] ateucher commented on #76
Ok thanks (I figured you must). So I think the best route for me to try is to get a Fedora Docker image with R/Rstudio that I can test it on. Any suggestions for a starting point?

[2018-04-18 00:39] Nowosad commented on #76
Sorry. I've never used a Fedora Docker image...
Maybe @cboettig has some information?

[2018-04-18 06:12] ateucher commented on #76
Ah, thanks @cboettig! I think I can work with that. (@Nowosad - rhub has `clang` and `gcc` versions for Fedora. Any opinions on which I should use?)

[2018-04-18 09:32] tim-salabim opened #77 "Error: [each] Command expects a single value."
Hi,
on my windows machine at work when I run the following code

[code]
I receive the following error (and warnings)
[code]
<details><summary>Session info</summary>

[code]
</details>

[2018-04-19 05:44] ateucher commented on #76
I have a [working docker image now](https://github.com/ateucher/rmapshaper/tree/master/scratch/fedora-test) and am able to reproduce the results. Now the fun part to try to debug it!

[2018-04-19 05:47] ateucher commented on #77
Thanks @tim-salabim. This is only on your Windows machine? What version of mapshaper do you have installed? (`system("mapshaper --version")`)

[2018-04-19 07:27] tim-salabim commented on #77
mapshaper version is 0.4.64. I can test tonite on my linux machine and see if I have the same issue there.

[2018-04-20 07:30] tim-salabim commented on #77
Same error. But when we remove the spaces in `'rmapshaperid = this.id'` to become `'rmapshaperid=this.id'` it works. Should be an easy fix...

![unbenannt](https://user-images.githubusercontent.com/2826432/39036314-5c5d8c18-447d-11e8-847e-ec40e8690750.PNG)

[2018-04-20 13:06] Nowosad commented on #76
Great work Andy. Let me know if I can be of any help...

[2018-04-20 16:29] ateucher commented on #76
Thanks Jakub. I've got the Dockerfile set up well and and nice minimal test script. And now I'm stumped. It's happening deep within the javascript library and there's obviously something different about V8 on Fedora.

[2018-04-20 16:34] ateucher commented on #77
Oh of course! Thanks @tim-salabim - I'll push up a change and perhaps you can test for me?

[2018-04-20 17:42] tim-salabim commented on #77
Thanks! I'll test on monday

[2018-04-23 07:58] tim-salabim commented on #77
Thanks! Works as expected now

![unbenannt](https://user-images.githubusercontent.com/2826432/39113729-e403d602-46dc-11e8-9a87-b8d766bf5cb7.PNG)

[2018-04-23 07:58] #77 closed

[2018-06-06 10:18] mtennekes opened #78 "Warnings when simpifying sf"
[code]

gives these warnings:

[code]

However, the result looks ok, and also the same as sp:

[code]

![screenshot from 2018-06-06 12-15-29](https://user-images.githubusercontent.com/2444081/41032402-9713e39a-6983-11e8-9c6c-fbc69a5b0342.png)

[2018-06-06 17:04] ateucher commented on #78
Thanks @mtennekes. I can reproduce this. Luckily the warning is spurious - after processing with mapshaper, the original column classes are restored, and some NA's were encountered in coercion. This whole piece of rmapshaper needs reworking under the hood, as it is a bit clunky. Related to #69 and #75.

[2018-06-06 17:06] ateucher opened #79 "Add `where` argument to `ms_lines()` and `ms_innerlines()`"
Available in mapshaper [v4.81](https://github.com/mbloch/mapshaper/releases/tag/v0.4.81)

[2018-10-01 00:04] SymbolixAU opened #81 "geojsonsf"
In the readme you identify the conversion to/from GeoJSON is slow

Other than the [date fix](https://github.com/SymbolixAU/geojsonsf/pull/33) (thanks again!), is there anything you would like added to [geojsonsf](https://github.com/SymbolixAU/geojsonsf) so you can use it in `rmapshaper` to do the GeoJSON <--> sf conversion?

[2018-11-15 22:53] ateucher opened #82 "Add conditional simplification to ms_simplify"
https://github.com/mbloch/mapshaper/issues/154

[2018-11-26 17:50] fabiocs8 opened #83 "ms_simplify 0.4.1 aborts R session"
Hi,

When executing the following code, ms_simplify causes R to abort after about 2 minutes running.

[code]
The map file can be found here https://1drv.ms/f/s!Av16Xvc5Na3Ngr12e_gRbjyZXjyh4g
OBS 1): gSimplify can handle this map, thus I believe that map´s format is ok
OBS 2): I successfully simplified other maps using ms_simplify, so my rmapshaper version is supposedly ok and well installed.

Plea

[2018-11-27 23:39] ateucher commented on #83
Hi Fabio,

Thanks for the report, I can reproduce this and will investigage. Interestingly, this works with `sf`:

[code]

[2018-11-28 01:29] fabiocs8 commented on #83
Hello Andy,

I tried through sf. It took a while but worked.

However, when fortifying it through broom::tidy(), it generated an error:

coerced to type 'double' In addition: Warning messages: 1:
'tidy.data.frame' is deprecated. See help("Deprecated") 2: In
mean.default(X[[i]], ...) : argument is not numeric or logical:
returning NA 3: In mean.default(X[[i]], ...) : argument is not numeric
or logi

[2018-11-28 05:15] ateucher commented on #83
Yes, an `sf` object is an entirely different beast than a `"Spatial"` object from package `sp`, and there is no `tidy` method for `sf` objects.

I recommend checking out the `sf` package, and plotting `sf` objects directly with ggplot2 via `geom_sf` (I'm just guessing that's why you want to fortify).

If you want to stay with `sp` `"Spatial"` objects, a work-around is to convert to `sf`, run it th

[2018-11-28 07:11] fabiocs8 commented on #83
Thank you Andy, learning a lot with you.
Best regards,

Fábio

On Wed, Nov 28, 2018, 03:15 Andy Teucher <notifications@github.com wrote:

[2018-11-28 17:53] ateucher commented on #83
My pleasure, thanks again for reporting this.

[2018-12-11 20:05] mdsumner opened #84 "underlying algorithm"
I'm interested in apply the underlying Visvalingam algorithm directly to paths, do you know if it's available in R independently of the mapshaper interface?

The approach for sf polygons could be taken to identify shared boundaries, simplify those and then piece back together.  I've tried this with `smoothr` and it seems to work:

https://github.com/hypertidy/silicate/issues/64

Obviously I'd have

[2018-12-11 23:41] ateucher commented on #84
Looks very cool @mdsumner. Unfortunately I've never seen it implemented in R...

[2018-12-12 03:14] mdsumner commented on #84
I think I understand it!  I put up an early stab here, it's no use for sf yet and lots to do still. I also assume there are cases when the disconnected shared boundaries will intersect other after simplification, so mapshaper must do some extra checks somehow.

https://github.com/mdsumner/simpler

[2019-02-08 11:14] willemvdb42 opened #85 "ms_simplify changes polygon IDs"
The function `ms_simplify` changes the `ID` slot of the polygons when working with objects of the `spatialPolygons` or `spatialPolygonsDataFrame` classes (from the `sp` package). See reprex.

[code]

This causes problems for example when using the `SpatialPolygonsDataFrame` function from the `sp` package. That function takes a `spatialPolygons` object and a `data.frame` object and returns a `spati

[2019-02-12 18:15] ateucher commented on #76
Hey @Nowosad. There was a big new update of `v8` on CRAN so that it now uses the current `V8` JS library rather than 3.14.  So I thought I would run my tests again, and lo and behold, [it seems to work](https://github.com/ateucher/rmapshaper/blob/master/scratch/fedora-test/README.md)!

If you update your `v8` R package and try a test that would be great. According to the [`v8` installation instruc

[2019-02-14 13:31] Nowosad commented on #76
I've updated the v8 package and tested my code. It works!

[code]

 

[2019-02-14 13:31] #76 closed

[2019-02-14 18:28] ateucher commented on #76
Fantastic news, thanks for testing @Nowosad! And thanks for the `v8` update @jeroen.  This one was really bugging me.

[2019-05-15 09:13] fermm92 commented on #83
Related perhaps. Also on version 0.4.1 my session aborts when simplifying the [NTEM boundaries shape](https://data.gov.uk/dataset/9a7501fb-4524-4171-ab9c-fc431eae538e/visual-boundaries-for-the-national-trip-end-model-ntem).

See an example [here](https://github.com/fermm92/ms_simplify_example)

[code]

[2019-05-15 18:41] ateucher commented on #83
Thanks @fermm92 - it's due to the size of the spatial object and the memory limitations of `V8` in which the javascript mapshaper engine is running. I will work on catching these limitations earlier so that it fails a little less dramatically.

You can use the `sys = TRUE` argument to use the system mapshaper, it worked well for me with this example (and quite quickly too). This does however requi

[2019-05-16 08:59] fermm92 commented on #83
Thanks for your answer @ateucher using `sys = TRUE` worked great!

[2019-05-16 15:26] KerenRaiter opened #86 "Error in context_eval(join(src), private$context)"
Hi,
I hope that this the right forum for seeking help with errors:

I ran: >landuse_simple = ms_simplify(landuse, keep= 0.3, keep_shapes=TRUE)
Where landuse is a SpatialPolygonsDataFrame (quite heavy)

and received the following error:

Error in context_eval(join(src), private$context) :
  Error in V8 context: UserError: Unable to parse JSON
    at new UserError (<anonymous>:1:534603)
    at inter

[2019-05-16 16:18] ateucher commented on #83
Excellent, glad it worked!

[2019-05-16 17:26] ateucher commented on #86
Hi @KerenRaiter - a few questions to help me narrow down the issue:

- Can you please provide the output of your `sessionInfo()`?
- Have you had success using `ms_simplify` on other (smaller) data sets?
- Does the error occur immediately, or after some time chugging away?

[2019-05-20 08:23] KerenRaiter commented on #86
Hi Andy,

Thanks for looking into this.

I have gone  reproduce the error now, but got a different error: Error in x[[1]] : subscript out of bounds. I got this same error last time, but then experimented with a few things and then started getting the above error.

1.	Can you please provide the output of your sessionInfo()?

I have pasted the session info below. It is now a new session, but the mai

[2019-05-20 23:21] ateucher commented on #86
Thanks @KerenRaiter - is there any way you can share the file with me? Otherwise it's difficult for me to fix this without being able to reproduce the error.

[2019-05-21 06:41] KerenRaiter commented on #86
Hi Andy,

Sure - just please don't use it for anything else without discussing with
me. I've shared the file with rmapshaper@noreply.github.com, if you'd like
to give me a different email address to give access to, please let me know.
 landuse_b.rds
<https://drive.google.com/a/mail.huji.ac.il/file/d/1WTEnm_EsUCBhomMaF9dt7iV0s1u_fEyA/view?usp=drive_web>

# i load it into R like this:
landuse_b = re

[2019-05-21 07:51] KerenRaiter commented on #86
Hi again Andy,

I've just tried again - with the larger dataset (I have a country-wide
dataset, but sent you a somewhat smaller dataset earlier that is clipped to
a study region).
R crashed and I got this window (second screenshot is the problem details
scrolled down):
[image: image.png]
[image: image.png]
Here is the dataset i was using this time:
 landuse.unsimplified.rds
<https://drive.google.c

[2019-05-21 08:05] KerenRaiter commented on #86
Hi once again Andy,

Sorry for bombarding you with emails,
I tried once more; R crashed again, but I managed to get the console
output: below in red.

Regards,
Keren

<--- Last few GCs --->

[11384:000000001F8C6600]       94 ms: Scavenge 3.5 (7.0) -> 2.6 (7.5) MB,
0.3 / 0.0 ms  allocation failure
[11384:000000001F8C6600]   145585 ms: Scavenge 4.2 (7.5) -> 4.0 (8.0) MB,
0.9 / 0.0 ms  allocation fai

[2019-05-21 16:57] ateucher commented on #86
Thanks @KerenRaiter - can you please share it with andy.teucher@gmail.com?

[2019-05-21 17:13] KerenRaiter commented on #86
Hi Andy I’ve shared it just now, did you get the link? thanks Keren

‫ב-21 במאי 2019, בשעה 19:57, ‏‏Andy Teucher ‏<notifications@github.com> כתב/ה:‬

[2019-05-22 17:39] ateucher commented on #86
I can reproduce the error - it is due to the underlying [v8](https://cran.r-project.org/package=V8) javascript session running out of memory. Please see #83 for a solution.

Incidentally, the file you sent has many topological issues (unclosed polygons, self-intersecting lines, etc). See `rgeos::gIsValid(x, byid = TRUE, reason = TRUE)`.

I'm going to close this and track the memory issue in #83.

[2019-05-22 17:39] #86 closed

[2019-06-27 00:51] maka1234 opened #87 "Issue with ms_simplify and sys = TRUE"
Hey!

I read through the documentation and tried to run ms_simplify using sys = TRUE
`library(sf)`
`library(tmap)`
`library(rmapshaper)`
`fiss <- read_sf("/path/to/file")`
`fiss <- ms_simplify(fiss, keep = 0.02, sys = TRUE) `

This returns the following error:
[i] Error: File not found (C:/Users/User)
Run mapshaper -h to view help
Cannot open data source C:\Users\User\AppData\Local\Temp\RtmpMD75li

[2019-07-05 19:03] ateucher commented on #87
This is an odd one. Can you check to see if the file was successfully written to that location? (`C:\Users\User\AppData\Local\Temp\RtmpMD75li\file230064ff2da8.geojson`)

[2019-07-05 19:05] ateucher commented on #87
I wonder if there's a space or a special character in your username (I'm guessing in this report you substituted "User" for your actual user name)?

[2019-08-04 15:21] rsbivand opened #88 "PROJ 6 problems?"
Running **rgeos** reverse dependency checks, now on a platform with PROJ 6.1.1, I'm seeing CRS mismatch problems in the tests:

[testthat.Rout.fail.log](https://github.com/ateucher/rmapshaper/files/3465018/testthat.Rout.fail.log)

[2019-08-05 16:01] ateucher commented on #88
Thanks for the heads up @rsbivand, I will check it out. Just to be clear, is this affecting your release of rgeos?

[2019-08-05 19:16] rsbivand commented on #88
I was just running `R CMD check rmapshaper...` because I have to do that for all packages depending/importing/suggesting **rgeos**, and noticed the issue. The most likely cause is that I'm running on a platform with PROJ 6.1.1, so rendering of proj4 strings varies, and in general `+towgs84=` is deprecated going forward. Try running `R CMD check` on a system with PROJ 6 and see. The problem may be

[2019-08-07 22:10] ateucher commented on #88
Interesting. I installed `sf`, `sp`, `rgdal`, and `rgeos` from source using `GDAL 2.4.2`, `GEOS 3.7.2`, and `PROJ 6.1.1` and didn't get any failures:

[code]

[2019-08-07 22:17] ateucher commented on #88
And you are right, looking at the install logs from `sf`:
[code]

vs `rgdal`:
[code]
, it looks like the former uses `proj.h` while the latter uses `proj_api.h`.

[2019-08-08 07:04] rsbivand commented on #88
I'm using GDAL 3.0.1 built against PROJ 6; you'd need to move from GDAL 2 to GDAL 3 to reproduce the problem, I think.

[2019-08-19 14:40] rsbivand opened #89 "use case of invalid rmapshaper output geometries"
@ateucher : a head's up for https://github.com/r-spatial/sf/issues/1130 and its fix in https://github.com/OSGeo/gdal/issues/1787, wrt. https://stat.ethz.ch/pipermail/r-sig-geo/2019-August/027569.html and the original poster's comment in https://stat.ethz.ch/pipermail/r-sig-geo/2019-August/027580.html that the problem arose when trying to write output geometries from rmapshaper with the ESRI Shapef

[2019-08-19 16:33] phaines-rms commented on #89
As requested by @rsbivand here is a short R script to replicate the issue I encountered while using ms_simplify

`# Create a Polygons object containing Polygon objects with two points of contact
library(sp)
r1 <- rbind(c(3,1),c(1,2),c(2,3),c(1,4),c(3,5),c(5,4),c(4,3),c(5,2),c(3,1))
r2 <- r1; r2[,1] <- r2[,1]+4
Ps1 = Polygons(list(Polygon(r1),Polygon(r2)),ID=1)
SPDF = SpatialPolygonsDataFrame( Spat

[2019-08-19 22:23] ateucher commented on #89
This is great information - thanks @rsbivand  and @phaines-rms. The issue is in the `mapshaper` js library:

[code]

<sup>Created on 2019-08-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

As you highlighted in the `gdal` issue you linked to @rsbivand, invalid geometries are "allowed", and many operations can create them, so I'm not sure how much of a problem this is, alth

[2019-08-19 23:40] ateucher commented on #88
Thanks, and again you're right - building with GDAL 3.0.0 reproduced the test failures, and the above commits fixes them for me. Thanks again for the heads-up, I will try to update before CRAN's machines do.

[2019-08-20 09:23] rsbivand commented on #89
Thanks! I should think that alerting the `mapshaper` maintainer is sensible. **rmapshaper** does import from **sf**, so simple checks of output geometries could be added as an option. You also suggest **rgeos**, so for **sp** objects **rgeos** could be used for the same checks if available.

This is the next in a series of issues affecting invalid geometries that have turned up this month, with ht

[2019-08-20 18:36] ateucher opened #90 "warn on invalid outputs"
Add an option to check validity of outputs, use `sf::st_is_valid()` and `rgeos::gIsValid()` as per @rsbivand's suggestion in #89.

[2019-08-20 18:37] ateucher commented on #89
Closing this in now, and opened #90 to implement your suggestions @rsbivand  - thanks!

[2019-08-20 18:37] #89 closed

[2019-09-11 20:26] sebdalgarno opened #91 "modification of names with special character"
hi @ateucher I'm not sure if this behaviour is intended, but it caught me a bit off guard.

[code]

Is it possible to leave the variable names as they were even if they have special characters?

[2019-09-11 21:15] ateucher commented on #91
I think it should be possible, thanks for reporting this.

[2019-10-09 04:55] geospatial-dave commented on #87
Hey mate, I've encountered a similar issue as maka above, following up on your questions:
- File was not successfully written to location
- My user is david, definitely no special characters there

If I can help in any other way let me know, I'm trying to simplify 150MB .shp file and need to use the sys=TRUE function as it just hangs forever otherwise.

Error below:

Error: [each] Command expects

[2019-10-09 04:59] geospatial-dave opened #92 "Issue: ms_simplify and sys=T not working (mapshaper version 0.4.136)"
Hey mate, I've encountered a similar issue as maka in a previous issue, following up on your questions:
- File was not successfully written to location
- My user is david, definitely no special characters there

If I can help in any other way let me know, I'm trying to simplify 150MB .shp file and need to use the sys=TRUE function as it just hangs forever otherwise. Mapshaper version is 0.4.136

E

[2019-10-09 05:15] geospatial-dave commented on #92
Resolved - see issue: https://github.com/ateucher/rmapshaper/issues/77

[2019-10-09 05:15] #92 closed

[2019-10-09 16:27] ateucher commented on #92
Thanks @geospatial-dave - so did you have an older version of `rmapshaper` (< 0.4.1) installed?

[2019-10-09 16:29] ateucher commented on #87
Closing (See #77), should be fixed in v0.4.1. Please reopen if this is still happening and you have the latest `rmapshaper` from CRAN (0.4.1)

[2019-10-09 16:29] #87 closed

[2019-10-09 21:38] geospatial-dave commented on #92
that is correct, I had 0.4.0, the current live CRAN version installed originally. Using 0.4.1 developmental fixed the issue.

[2019-10-17 19:15] ateucher opened #93 "add `snap_interval` argument to dissolve"

[2019-10-22 17:30] ateucher opened #94 "use runCommandsXL() when sys = TRUE and object is large"
https://github.com/mbloch/mapshaper/issues/367

[2019-12-20 19:28] ateucher opened #96 "Investigate using raw vectors"
https://github.com/jeroen/V8/compare/6791a2dc2f...98c2f75fcc

[2020-01-23 19:14] butellyn opened #98 "configuration failed for package 'V8'"
I tried to install rmapshaper, but it failed due to a dependency; V8. Have you run into this before? And how did you fix it? Below is the error message.
<img width="737" alt="v8error" src="https://user-images.githubusercontent.com/41019524/73015533-36d82d00-3dea-11ea-91f2-5fcd31c07500.png">

Then I tried installing with V8 with brew, which also failed (`brew install v8`):
<img width="1125" alt="v8

[2020-01-23 21:44] ateucher commented on #98
Hi @butellyn, I think the answer given in the issue you opened in the v8 repo (https://github.com/jeroen/V8/issues/82) should fix it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 07:45] ericemc3 opened #99 "apply_mapshaper_commands with sys=TRUE deletes input shp file"
When running
apply_mapshaper_commands( "c:/apps/counties.shp", " -dissolve", sys=TRUE, force_FC=FALSE ),
counties.shp is deleted (but not counties.dbf)

[2020-01-26 07:45] ericemc3 commented on #93
good idea !

[2020-01-26 07:46] ericemc3 commented on #94
excellent idea !

[2020-01-27 19:06] ateucher commented on #99
Thanks for reporting this @ericemc3 - I'll look into it

[2020-01-27 23:55] #99 closed

[2020-01-28 06:31] ericemc3 commented on #99
Thank you for your prompt action, Andy! How can i acces sthe new package (i am running rmapshapper in Windows) ?

[2020-01-28 18:46] #98 closed

[2020-01-28 18:48] ateucher commented on #72
Now supeceded by #94

[2020-01-28 18:48] #72 closed

[2020-01-28 18:52] ateucher commented on #99
I will be submitting a new version to CRAN shortly, but in the meantime you can install the development version from GitHub using [these instructions](https://github.com/ateucher/rmapshaper#installation).

[2020-01-28 20:31] ericemc3 commented on #99
This is really great, it works fine, thank you very much! I translated a Pyqgis script into Rmapshapper and execution time was reduced from 1h to 2mn, interesting enough...

Sometimes, we just don't need that geoson automatically written on disk as result of the apply_mapshaper_commands, if we use for instance the -o command to output a shp. Could we save that 'write on disk' time with a new param

[2020-01-28 20:50] ateucher commented on #99
If you're not using it within a broader R-based workflow, you can just use the `mapshaper` command-line tool directly: https://github.com/mbloch/mapshaper/wiki/Introduction-to-the-Command-Line-Tool

[2020-01-28 21:01] ericemc3 commented on #99
yes of course, but i am indeed using a broader R-based workflow with dplyr and soon rshiny

[2020-02-16 09:45] amaioran opened #101 "ms_simplify: R abort session"
Hi,
when executing the following code, the R session aborts:
  library("sf")
  library("rmapshaper")
  gadm.eu.nuts3 <- read_sf("gadm36_NUTS3_EU+.shp")
  gadm.eu.nuts3.simpl <- ms_simplify(gadm.eu.nuts3)

Originally I tried to open the shapefile using readOGR (rgdal package). I saw that someone had the same issue in the past so I tried with read_sf, but I get the same error
Maybe the problem is in

[2020-02-18 18:37] ateucher commented on #101
HI @amaioran, similar to #83, you might try using the system mapshaper, so the processing is done outside of R.  It will require installing `node` on your system if you don't already have it (https://nodejs.org/en/), then installing the `mapshaper` library. Instructions are here: https://github.com/ateucher/rmapshaper#using-the-system-mapshaper.

Then you you can run `ms_simplify(gadm.eu.nuts3, sy

[2020-02-19 07:54] amaioran commented on #101
Hi @ateucher! thanks for your quick reply! I will try on my personal machine as soon as I can... unfortunately on my work machine this is difficult due to internal security policy reasons.... I could wait thousand of years before they accept to do it ;)

Thank you again: I will let you know!
Andrea

[2020-02-28 14:26] rafapereirabr opened #102 "ms_simplify creates NA values"
I am having a similar problem. The `ms_simplify` function is creating `NA` values for some observations. This migh be related to issue #85

[code]

[2020-02-28 18:22] ateucher commented on #102
Hi @rafapereirabr I can't reproduce this, for me `b` is the same as `o` but with simplified geometries (though the row names issue does exist):

[code]

<sup>Created on 2020-02-28 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Can you please post the output of `sessionInfo()`?

[2020-02-28 18:27] ateucher commented on #85
Thanks @willemvdb42 I will look into preserving row IDs when they exist.

[2020-02-28 18:34] #88 closed

[2020-03-01 12:51] rafapereirabr commented on #102
This is the result I get:

[code]

Here is my session info:
[code]

[2020-03-02 19:15] ateucher commented on #102
Thanks for the detail @rafapereirabr. I think this is to do with character encoding, as there are UTF-8 strings in the names, and your locale is set to `Portuguese_Brazil.1252` (https://en.wikipedia.org/wiki/Windows-1252).

The first thing I would try would be to convert the encoding of the columns to your native encoding:

[code]

And then try again.

I also noticed that @jeroen recently [made a

[2020-03-05 00:46] rafapereirabr commented on #102
Thanks for the support,  @ateucher! I couldn't install the dev version of V8 for some strange reason. I'll wait for their next CRAN version to try it again . I'll keep you posted !

[2020-03-14 12:31] jeroen commented on #102
I have pushed V8 to Cran, binaries should be there in a few days.

[2020-03-14 22:25] ateucher commented on #102
Fantastic, thanks @jeroen. @rafapereirabr once CRAN  binaries are available for V8 v3.0.2 you should be able to install and test it out.

[2020-03-16 20:50] rafapereirabr commented on #102
Hi @jeroen and @ateucher . I've updated `V8` and this has fixed the problem! Thank so much for developing these packages and for the support!

 This issue can be closed.

[2020-03-16 20:51] #102 closed

[2020-03-16 21:11] ateucher commented on #102
Excellent! Thanks so much for reporting back

[2020-03-20 16:55] edzer opened #103 "upcoming sf breaks rmapshaper on CRAN"
See
* https://www.r-spatial.org/r/2020/03/17/wkt.html
* https://win-builder.r-project.org/incoming_pretest/sf_0.9-0_20200319_213604/reverseDependencies/summary.txt

Please update and submit to CRAN; let me know if you need help.

[2020-03-21 22:05] ateucher commented on #103
Ok, thanks. Will look ASAP

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-24 17:02] ateucher commented on #103
Well, after a single commit to fix the issue, and at least a day getting github actions working to actually check it with various GDAL/PROJ versions on all platforms, I think rmapshaper is good to go. Would you recommend waiting until sf is updated on CRAN or going now?

[2020-03-24 17:34] edzer commented on #103
Yes.

@etiennebr may want to check out Andy's github actions work.

[2020-03-24 17:42] ateucher commented on #103
Sorry, was that "Yes" to waiting for sf?

[2020-03-24 17:44] edzer commented on #103
eh, yes. On second thought: no need to wait.

[2020-03-24 17:54] ateucher commented on #103
Perfect, thanks!

[2020-03-30 16:49] ateucher opened #104 "mapshaper v0.4.163 has minimum node version 6"
https://github.com/mbloch/mapshaper/releases/tag/v0.4.163

[2020-04-01 16:56] ateucher commented on #103
rmapshaper 0.4.4 on CRAN now, passing all checks so far: https://cran.r-project.org/web/checks/check_results_rmapshaper.html

[2020-04-01 16:56] #103 closed

[2020-04-06 20:41] SimonCoulombe opened #105 "can't ms_simplify() a donut polygon with another polygon inside it"
I am trying to simplify the following shapefile:

http://ftp.maps.canada.ca/pub/elections_elections/Electoral-districts_Circonscription-electorale/Elections_Canada_2019/polling_divisions_boundaries_2019.shp.zip

I am having issue with the following two polygons (a small one inside a big one)

[code]

![damntwo](https://user-images.githubusercontent.com/23444900/78602827-1df5ea00-7825-11ea-8eeb-4e1

[2020-04-07 01:28] SimonCoulombe commented on #105
here is the output, I'll try to update libv8 next:
[code]

[2020-04-07 01:29] SimonCoulombe commented on #105
turns out it is the latest version.
[code]

[2020-04-07 04:24] ateucher commented on #105
There is a ppa for Bionic/Xenial with a modern `libv8`, now called `libnode`. From the V8 [installation instructions](https://github.com/jeroen/V8/blob/master/README.md#backports-for-xenial-and-bionic):

[code]

Then you can reinstall V8. Please let me know if that fixes it

[2020-04-08 01:43] SimonCoulombe commented on #105
Hi Andy,

Thanks for helping :)
I couldnt use these instructions because I was on ubuntu 18.10.   Last night I updated to 19.04, then 19.10. It borked my R install and now I have to re-install all packages.    I'll let you know after that if my computer doesnt explode by then.

I managed to simplify the file and complete the project  on the Windows computer after splitting it into 3 parts.

[2020-04-08 03:31] SimonCoulombe commented on #105
update:  I can ms_simplify(keep_shapes = TRUE, explode = TRUE)  the full shapefile on my updated linux afterrunning  lwgeom:: st_make_valid() .

all is well.
thanks for the package!!

[2020-04-08 04:35] ateucher commented on #105
Glad you got it working in the end, sorry you had to go through all the trials and tribulations. I didn’t realize that ppa was only for 18.04 and not 18.10

[2020-04-15 17:53] ateucher commented on #81
Working in `geojsonsf` branch.

To Do:

- [ ] remove support for geojson lists
- [ ] drop geojsonio (possibly to `Suggests` for now as it's useful in tests)
- [ ] Wait for https://github.com/SymbolixAU/geojsonsf/issues/79 to be fixed

[2020-04-15 18:00] ateucher commented on #66
Closing as part of #81

[2020-04-15 18:06] ateucher opened #106 "Investigate using sfheaders over sf"
Would likely necessitate dropping any `crs` transformations (e.g., in clip/erase) but that may be ok anyway...

[2020-04-16 01:05] ateucher commented on #106
I think this may be one step too far at least for now - there are too many interconnected things and would require duplicating a lot of `sf` and would be very fragile.

[2020-04-16 01:05] #106 closed

[2020-04-16 22:32] dcooley commented on #81
Would you like me to add a `json` class` to geojsonsf ?

[2020-04-17 18:26] ateucher commented on #81
Sorry @dcooley I was wrong - `geojsonsf` already adds `json` class:

[code]

<sup>Created on 2020-04-17 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-17 18:29] ateucher commented on #81
Checklist updated - rmapshaper can just have methods for `geojson` I think...

[2020-05-07 22:03] grcolli opened #107 "mapshaper cannot find geojson file (username with spaces?)"
Error: [o] Command expects a single value. Received: C:\Users\Guarino R. Colli\AppData\Local\Temp\RtmpScK7dh\file41301ed349d8.geojson
Run mapshaper -h to view help
Error: Cannot open "C:\Users\Guarino R. Colli\AppData\Local\Temp\RtmpScK7dh\file41301ed349d8.geojson"; The file doesn't seem to exist.

From other forums, the issue is related to a username (and directory names) with spaces. Is there a

[2020-05-08 20:05] ateucher commented on #107
@grcolli thanks very much for this report. I think I've fixed it, if you get a chance can you please try out the development version by installing from here:

[code]

[2020-05-08 20:30] grcolli commented on #107
Hi Andy, thanks a lot for your prompt response. I reran the code but apparently the issue was not solve (see below). I'm ready to help and provide any additional info deemed necessary. Cheers, G.

+   rgdal::readOGR(paste(my.dir, "data/shape_municipios/BRMUE250GC_SIR.shp", sep = ""),
+                  stringsAsFactors = F)
OGR data source with driver: ESRI Shapefile
Source: "C:\Users\Guarino R. C

[2020-05-08 21:23] grcolli commented on #107
Andy,
my bad. After installing the development version of rmapshaper, the code ran smoothly! Thanks a lot. Best, G.

[i] Snapped 40638 points
[simplify] Repaired 23 intersections
[filter] Retained 5,572 of 5,572 features
[o] Wrote C:\Users\Guarino R. Colli\AppData\Local\Temp\RtmpkhLjym\file62482e77698e.geojson

[2020-05-08 21:23] #107 closed

[2020-05-08 21:24] ateucher commented on #107
Oh excellent! I was scratching my head, as I was sure my patch would fix it. Thanks for trying again and reporting back

[2020-05-08 21:48] ateucher commented on #107
One more unrelated though @grcolli - it's generally a bit risky to post the output of `Sys.getenv()` as many people store sensitive info such as authorization tokens there.

[2020-05-08 21:50] #105 closed

[2020-05-08 21:56] grcolli commented on #107
Thanks Andy. Will be more careful next time!

***ATENÇÃO***ATTENTION***
Não use o endereço grcolli@unb.br; ao invés, use grcolli@icloud.com
Do not use the address grcolli@unb.br; instead, use grcolli@icloud.com

*******************************************
Prof. Guarino R. Colli
Departamento de Zoologia
Universidade de Brasília
70910-900 Brasília, DF  BRASIL
Phone: +55-61-3107-3013 – +55-61-3107-30

[2020-06-02 12:50] rlh1994 commented on #85
Just to bump this I am encountering the issue now for the first time. I only run this specific code every few months so can't be certain when the issue arose, but I used to be able to apply `ms_simplify` to a SPDF without issue, now as mentioned it leads to an error.

[2020-06-04 21:02] ateucher commented on #85
Part of the problem with your example @willemvdb42, is that that object begins with different row.names of the data vs the polygons:

[code]

<sup>Created on 2020-06-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

It's not really feasible to perfectly retain the original ID's as `ms_simplify()` can often reduce the number of polygons (by reducing them to null geometries).

[2021-03-09 21:51] ateucher commented on #94
Note: can add a new argument for memory allocation that gets passed on to `mapshaper-xl` (https://github.com/mbloch/mapshaper/blob/4a1eac2845420472bb23df863723aa8e3021ced2/README.md#large-file-support)

[2021-03-25 16:58] ateucher opened #108 "Parse mapshaper options to generate function args/documentation"
eg., https://github.com/mbloch/mapshaper/blob/master/src/cli/mapshaper-options.js

[2021-04-02 09:49] JWusagi opened #109 "System mapshaper not detectable in R"
Hi there

I'm trying to use the rmapshaper_0.4.4 to simplify a large spatial file in order to upload it onto a shinyApp.  It contains boundaries of all 32,844 LSOAs in England (LSOA is one geographical unit consisting around 1,500 residents).  Having tried with the ms_simplify and R session aborted, I think I should grab the system mapshaper by the command "sys=TRUE" as the file is quite large:

o

[2021-04-03 16:52] ateucher commented on #109
Hi @JWusagi,

Can you please run the following in your Terminal:

[code]

And this in your R session:

[code]

And post the results here?

[2021-04-03 22:50] JWusagi commented on #109
Hi Andy

Thanks very much for your reply.  Please see the screenshots in terminal and R session below:

Terminal:
![image](https://user-images.githubusercontent.com/81804762/113493439-34d22980-94d7-11eb-8a51-d24f786248cb.png)

R:
![image](https://user-images.githubusercontent.com/81804762/113493447-47e4f980-94d7-11eb-937c-5ce8687e7a68.png)

[2021-04-06 16:56] ateucher commented on #109
Hi @JWusagi - you're correct, this isn't an `rmapshaper` issue per se, rather that R doesn't always pick up environment variables (such as `PATH`) set elsewhere (such as `~/.profile`, `~./bashrc` etc).

You can add to the `PATH` by editing your `.Renviron` file (usually at `~/.Renviron`). The easiest way to find and edit it is with `usethis::edit_r_environ()`. Then add the following line to the fi

[2021-04-06 23:14] JWusagi commented on #109
Hi @ateucher

Thanks so much - it works perfectly!  I tried out your first suggestion and the system mapshaper perfectly gets engaged for large files.  I'll close this issue then if you are happy?

Thanks again,
Jie

[2021-04-06 23:52] ateucher commented on #109
Great, thanks for reporting back!

[2021-04-06 23:54] #109 closed

[2021-05-17 20:05] sandra-ab opened #110 "Polygons disappear after ms_erase"
Hi,

First of all thanks for rmapshaper, it is a wonderfully handy package.

I have been occasionally encountering a quirk using `ms_erase` and can’t really figure out what is happening.

For context, I am using the function in a habitat mapping toolkit, and users can supply their own spatial file of hedgerows that then get added to a vector land cover map (OS MasterMap). The (simplified) workflow

[2021-05-17 21:52] ateucher commented on #110
Hi @sandra-ab - thanks for the excellent bug report! I'll investigate shortly

[2021-05-18 10:37] fm429 opened #111 "ms_simplify: JSON error with mapshaper"
Hi!

I've been trying to speed up some analyses by simplifying an sf data.frame using ms_simplify.
The first attempts ended with a few aborted sessions but, thanks to previous issues (#83 and #101), I was able to solve the error by installing nodejs and mapshaper (in cmd.exe as admin).

However, when running the following line of code, I'm getting another error after a few minutes of running time.

[2021-05-18 21:00] ateucher commented on #111
Hi @fm429 is it possible for you to share the data you are working with so I can try to reproduce this?

[2021-05-18 23:00] ateucher commented on #110
Hi @sandra-ab - it seems to have been a bug with the bundled version of mapshaper I was using. I've upgraded it, can you test with the development version? You can install with:

[code]

[2021-05-19 09:11] sandra-ab commented on #110
Thank you so much @ateucher - works perfectly now!

[2021-05-19 16:09] fm429 commented on #111
Hi @ateucher, the data I'm working with is from the vector Corine Land Cover 2018 (here's the source link, https://land.copernicus.eu/pan-european/corine-land-cover/clc2018). I clipped it in QGIS to work on a smaller vector file focused on the UK. It's quite a large CSV file and I tried to compress it and upload it here, but unsuccessfully.
Is there any other way I can share it? Sorry for the naif

[2021-05-19 17:30] ateucher commented on #110
That's excellent - thank you for the report!

[2021-05-19 18:51] ateucher commented on #111
Thanks @fm429 - which format did you download? The geopackage (SQLite) or the ESRI file geodatabase?

[2021-05-19 23:30] #66 closed

[2021-05-20 08:38] fm429 commented on #111
I downloaded the ESRI geodatabase, thanks @ateucher!

[2021-05-20 19:16] ateucher commented on #111
@fm429 I'm unable to reproduce the error - can you please try again with a development version of rmapshaper? You can also filter to the UK using a bounding box as you read it into R (I used the geopackage, but should also work with gdb):

---
author: ateucher
date: 2021-05-20
output: "reprex::reprex\\_document"
title: fishy-coral\_reprex.R
---

[code]

![](https://i.imgur.com/ni0PpsT.png)

<sup>C

[2021-05-20 19:17] ateucher commented on #111
I forgot to mention: you can install the dev version of mapshaper with:

[code]

[2021-05-20 23:43] #110 closed

[2021-05-20 23:43] ateucher commented on #94
Closed by #112

[2021-05-20 23:43] #94 closed

[2021-05-20 23:43] ateucher commented on #104
Closed by #112

[2021-05-20 23:43] #104 closed

[2021-05-21 12:27] fm429 commented on #111
This is brilliant @ateucher! Thank you so much.
I've used the resulting file, uk_simp, in a function where I'm retrieving the type of landscape (Code_18) based on a series of coordinates and seems to work fine using st_join(x, uk_simp, join = st_within)). I got an NA value but I'll have a better look when I have time. Thanks again.

As for the dev version of mapshaper, I tried to install it but I

[2021-05-21 13:44] ateucher commented on #111
Great to hear @fm429. Sorry, I deleted the `fix-erase-bug` branch. You can now install the dev version with just `remotes::install_github("ateucher/rmapshaper")`

[2021-05-21 13:45] #111 closed

[2021-05-21 18:22] ateucher opened #113 "Release rmapshaper 0.4.5"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_rmapshaper.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `devtools::build_readme()`
* [x] [`urlchecker::url_check()`](https://github.com/r-lib/urlchecker)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x

[2021-05-26 21:38] #113 closed

[2021-07-10 19:42] mgarnault commented on #67
Hi, sorry to bring back old problems here but I followed your method and still have encoding issues:
The _com_ data is available on my github page in repository **Help**: [https://github.com/mgarnault/Help](url) as _comFR_help.zip_

[code]

Do you have an idea on how to fix that ?

[2021-09-24 18:26] ateucher commented on #67
Hi @mgarnault my apologies for the extremely late response. Is this still an issue for you?

If so, can you please give me the output of `sessionInfo()`?

Also, are you able to try with `sys=FALSE`? I have a hunch that should still work as expected.

[2022-02-17 23:44] #75 closed

[2022-02-24 22:01] ateucher commented on #101
@amaioran I'm going to close this, but if it is still an issue please go ahead and re-open it.

[2022-02-24 22:01] #101 closed

[2022-02-28 19:47] ateucher commented on #91
This should be fixed in ongoing work in #118

[2022-02-28 20:00] ateucher commented on #83
This should be fixed by #118

[2022-03-02 07:13] abasees opened #119 "Processing large (~1GB) shp file with ms_simplify results in hang"
I'm encountering issues when running the below code for a shp file of approximately 1GB, with 242K features (US Census geography files).

`  boundary_simp = ms_simplify(boundary_in, method="dp", keep = ratio, keep_shapes=TRUE, sys=TRUE)`

When running the above code for the file in question, the process continues for a couple of minutes before exploding on RAM usage (it attempts to use all 256GB o

[2022-03-02 23:47] ateucher commented on #119
Hi @abasees - a couple of things to try... did you try to increase `sys_mem` in the `ms_simplify()` call? The default is 8gb, but you can specify up to your available system memory (note this only works when `sys = TRUE`, as you have here).

You could also try it using the [mapshaper command-line tool](https://github.com/mbloch/mapshaper/wiki/Command-Reference#-simplify) directly with something li

[2022-03-02 23:54] ateucher commented on #85
I'm going to close this as row.names cannot be expected to be preserved in simplification, as sometimes polygons are lost (or created if using `explode=TRUE`) in the simplification process. If you need to retain them I suggest creating a column of them.

[2022-03-02 23:54] #85 closed

[2022-03-02 23:54] ateucher commented on #81
This will be closed by #118

[2022-03-10 02:33] dblodgett-usgs opened #121 "apply_mapshapper_commands not working?"
I could work on a solution given a little head start, but maybe this is an easy fix?

[code]

![](https://i.imgur.com/MdwjSAj.png)

<sup>Created on 2022-03-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-03-10 21:04] ateucher commented on #121
`apply_mapshaper_commands()` works only on geojson strings or files, not directly on `sf` or `Spatial*` objects. So this works:

[code]

It would certainly be possible to make `apply_mapshaper_commands` a S3 generic and write methods for `sf` etc objects...

[2022-03-10 22:28] dblodgett-usgs commented on #121
Oh interesting. OK. That makes sense. Do you mind if we put that into an example? Not sure if that would cause CRAN check issues or anything.

[2022-03-10 23:24] ateucher commented on #121
Sure, that's a great idea. I am in the process of converting most of the internals to using the `geojsonsf` package in the `geojsonsf` branch. I can create an example out of this, but if you want to do a PR for it, please do it against that branch. Thanks!

[2022-03-10 23:25] ateucher opened #122 "Make `apply_mapshaper_commands` S3 generic with methods for the usual classes"
#121

[2022-05-10 05:27] ateucher opened #124 "Release rmapshaper 0.4.6"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_rmapshaper.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `devtools::build_readme()`
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `revdepcheck::revdep_check(num_worker

[2022-05-11 00:19] #124 closed

[2022-05-17 03:13] dblodgett-usgs opened #125 "Expose `-quiet` flag?"
I'm finding it impossible to suppress messages when calling rmapshaper with sys=TRUE

Those are some strong messages!! Any idea how to suppress these? Would it need to be the `-quiet` flag?

[code]

![image](https://user-images.githubusercontent.com/1492803/168720701-13f33c7c-f978-4a4c-9969-f75fb94bb458.png)

[2022-05-17 16:36] ateucher commented on #125
Good idea!

[2022-05-18 23:15] #121 closed

[2022-10-27 00:41] ifoxfoot commented on #12
Hello,
Thanks for making this package! Any plans to add a mosaic function? It would be super useful for analyzing polygons that change through time.

[2022-10-27 17:27] ifoxfoot commented on #12
@ateucher the one in the mapshaper library. I want to flatten some polygons together. Thanks for responding!

[2022-10-27 23:29] ateucher commented on #12
You should be able to achieve what you're after with `sf::st_intersection()` - when given a single layer it intersects with itself. You can also try with `rmapshaper::apply_mapshaper_commands()` - it's not well documented and only works with geojson objects, but can apply any of the mapshaper commands, even if they're not implemented with their own function in `rmapshaper`:

[code]

![](https://i.

[2022-10-28 00:19] ifoxfoot commented on #12
@ateucher I keep running into [this bug](https://github.com/r-spatial/sf/issues/1668) with very large/messy datasets when I use `st_intersection` (although maybe it's fixed now with GEOS 3.10, I haven't tried in awhile). I will try `apply_mapshaper_commands()` though! Thanks!

[2022-11-03 11:16] csmontt opened #126 "no_repair = FALSE not working"
When using `ms_simplify()`, snap is always applied even if `snap = FALSE`.

[2022-11-03 22:00] ateucher commented on #126
@csmontt can you please provide a reproducible example?

[2022-11-09 15:20] csmontt commented on #126
Sorry @ateucher I was actualy refering to `no_repair` not `snap`.

I am trying to get in R the same output I get when using mapshaper.org

The file I am using is https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/SOA2011_Esri_Shapefile_0.zip

If I load that file to mapshaper and simplified to 15% using visvalingam / weighted area  I get the following:

  ![image](https://user-images.gi

[2022-11-09 21:25] ateucher commented on #126
Hi @csmontt - thanks for reporting, and for the good example. I can reproduce this, and it turns out it's not a snapping thing by mapshaper after all. The writing of the `geojson` file/object is done internally by `geojsonio::geojson_write()` - which enforces a set precision on the coordinates, which in this case reduces that precision by a significant amount, which has a "snapping" effect.

I am

[2022-11-10 10:07] csmontt commented on #126
@ateucher that works, thanks!

[2022-11-10 17:47] ateucher commented on #126
Reopening just to keep track of issues that will be closed by #118

[2022-11-30 08:10] BeaMo opened #127 "Dissolve by field - How"
Hi there,

I am trying to run a ms_dissolve using a column as the field it runs into an issue while doing that.
"Error in V8 context: UserError: [dissolve] Command expects a single value."

Am I misunderstanding the 'field' option? Would be awesome if you can help me.

Cheers.